*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'EB Garamond', serif;
}

.head_container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg,#000,#0000009e);
    color: white;
}
.top_part{
    width: 100vw;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* box-shadow: 2px 2px 2px white; */
}

.top_right{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

.top_ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 12px; */
    list-style: none;
    text-align: center;
}

.top_ul > li{
    margin-right: 20px;
}

.top_icon img{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    /* background-color: #000; */
}

.top_ul > li:hover{
    color: goldenrod;
    text-decoration: underline;
    cursor: pointer;
}

.top_icon img:hover{
    cursor: pointer;
}

.banner_part{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_h3{
    font-size: 30px;
    margin-bottom: 17px;
}

.s1{
    color: orange;

}
.banner_h1{
    font-size: 45px;
    margin-bottom: 15px;
}

.main_para{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 25px;
}

.btn1{
    height: 50px;
    width: 200px;
    font-size: 15px;
    background-color: orange;
    margin-left: 20px;
    border: 0px;
    border-radius: 15px;
    color: white;
}

.bcg > img{
    height: 600px;
    width: 600px;
    border: 0px;
    border-radius: 15px;
}

.btn1:hover{
    color: orange;
    background-color: white;
    box-shadow: 2px 2px 2px goldenrod;
}

.perfect_offer_main{
    height: 70vh;
    width: 100vw;
    color: black;
    text-align: center;
    padding-top: 50px;
}

.resepi_img{
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 20px; */
}

.r_box1 > img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.r_box1 > h5{
    font-size: 25px;
    margin-bottom: 10px;
}

.r_box1 > p{
    font-size: 15px;
    color: gray;
}

.history_container{
    height: 80vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.history_write{
    height: 400px;
    width: 500px;
    margin-top: 100px;
    /* background-color: brown; */
}

.history_write > h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.history_write > h6{
    font-size: 20px;
    margin-bottom: 13px;
    color: orange;
}

.history_write > p{
    font-size: 15px;
    color: gray;
}

.history_picture{
    height: 100%;
    width: 700px;
    /* background-color: red; */
    position: relative;
}

.history_picture > img{
    height: 350px;
    width: 350px;
    position: absolute;
    border-radius: 10px;
}

.img3{
    top: 100px;
    left: 50px;
    z-index: 3;
}

.img4{
    bottom: 20px;
    left: 330px;
    z-index: 1;
}